.container {
    display: flex;
    justify-content: center;
    
}

.grid {
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    
}

.cells {
    border: 1px solid black;
    background-color: lightgray;
    width: 50px;
    height: 50px;
    
}

/*:hover will only change the color of the div when the mouse is over it, it does not keep the color change when mousing off the div*/

.cellsNew {
    border: 1px solid black;
    background-color: aqua;
    width: 50px;
    height: 50px;
}
