body {
    height: 100vh;
    background-color: #ddb0a0;
}

.wholeGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.gridBtn {
    padding: 15px;
    background-color: orange;
    border-color: peachpuff;
    font-size: medium;
    
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black
}

.gameArea {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.gameCells {
    background-color: white;
    box-sizing: border-box;
}